<!-- <form #userform = "ngForm">
  <div class="form-group">
    <label for="exampleInputName">Name</label>
    <input type="text" name="username" id="exampleInputName"  placeholder="Enter Name" [(ngModel)]="userModel.username">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail">Password</label>
    <input type="email" name="email" id="exampleInputEmail" placeholder="Email" [(ngModel)]="userModel.email">
  </div>
  <div class="form-group">
    <label for="exampleInputph">Number</label>
    <input type="tel" name="phone" id="exampleInputph" placeholder="Phone Number" [(ngModel)]="userModel.phone">
  </div>
  <select class="custom-select" name="topic" [(ngModel)]="userModel.topic">
    <option selected disabled>Select the topic</option>
    <option *ngFor="let topic of topics">{{ topic }}</option>
  </select>
  <div class="custom-control custom-radio">
    <input type="radio" id="customRadio1" value="morning"  name="shift" class="custom-control-input" [(ngModel)]="userModel.shift">
    <label class="custom-control-label" for="customRadio1">Morning(9AM-11AM)</label>
  </div>
  <div class="custom-control custom-radio">
    <input type="radio" id="customRadio2" value="evening" name="shift" class="custom-control-input" [(ngModel)]="userModel.shift">
    <label class="custom-control-label" for="customRadio2">Evening(2PM-4PM)</label>
  </div>
  <div class="form-check">
    <input type="checkbox" class="form-check-input" name="subscribe" id="exampleCheck1" [(ngModel)]="userModel.subscribe">
    <label class="form-check-label" for="exampleCheck1">Send me email on new updates</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form> -->

<div class="container-fluid">
  <h2>Registration form</h2>
  {{registerForm.value | json}}
  <form [formGroup]="registerForm">
  <div class="form-group">
    <label>Username</label>
    <input type="text" class="form-control" formControlName="username">
    <div *ngIf="UserName && UserName.invalid && UserName.touched">
      <small *ngIf="UserName.errors?.['required']" class="text-danger">Username is required</small>
      <small *ngIf="UserName.errors?.['minlength']" class="text-danger">Username must be at least five characters long</small>
    </div> 
  </div>
  <div class="form-group">
    <label>Email</label>
    <input type="email" class="form-control" formControlName="email">
    <div *ngIf="UserEmail && UserEmail.invalid && UserEmail.touched">
      <small *ngIf="UserEmail.errors?.['required']" class="text-danger">Primary Email is required</small>
      <small *ngIf="UserEmail.errors?.['pattern']" class="text-danger">Invalid Email</small>
    </div>
    <div formArrayName="alternateEmail" *ngFor="let email of AltEmail.controls; let i=index" >
      <input  type="text" class="form-control my-2" [formControlName]="i">
    </div>
    <button  (click)="addAltEmail()" type="button" class="btn btn-secondary btn-sm my-2 ">Add alt email</button>
  </div>
  <div class="form-group">
    <label>Password</label>
    <input type="password" class="form-control" formControlName="password">
    <div *ngIf="UserPass && UserPass.invalid && UserPass.touched">
      <small *ngIf="UserPass.errors?.['required']" class="text-danger">Password is required</small>
      <small *ngIf="UserPass.errors?.['minlength']" class="text-danger">Password be at least five characters long</small>
    </div> 
  </div>
  <div class="form-group">
    <label>Confirm Password</label>
    <input type="password" class="form-control" formControlName="confirmPassword">
    <div *ngIf="ConfirmPass && ConfirmPass.invalid && ConfirmPass.touched"><p class="text-danger">Doesnot matched with password</p></div>
    
  </div>
  <div formGroupName="address">
    <div class="form-group">
      <label>City</label>
      <input type="text" class="form-control" formControlName="city">
    </div>
    <div class="form-group">
      <label>State</label>
      <input type="text" class="form-control" formControlName="state">
    </div>
    <div class="form-group">
      <label>Postal code</label>
      <input type="number" class="form-control" formControlName="postalCode">
    </div>
  </div>
  <button (click)="submitForm()" class="btn btn-primary" type="submit" >Register</button> <br>
  </form>
</div>










